.footer-middle {
    margin-top:2rem;
    background: #3487d5;
    padding-top: 1rem;
    color: #f3f3f3;
}

.footer-bottom{
    margin-top:2rem;
    padding-top:1rem;
    align-items: center;
    background: #5895ce;
}
.list-items li{
    font-size:1.1rem;
    
}
.list-items li a{
    font-size:1.1rem;
    color:#f3f3f3;
    text-decoration: none;
}
.icons-footer{
    font-size:30px;
    padding-right:5px;
    padding-bottom: 5px;
}
.icons-retele{
    margin-top:1rem;
    font-size:35px;
    padding-right:5px;
    padding-bottom: 5px;
}
.icons-contact{
    font-size:25px;
    padding-right:3px;
    padding-bottom: 3px;
}
.list-items li a:hover{
    color:#083a69;
}
.light{
    margin-top: 0;
    margin-bottom: 1.5rem;
    border-color: #fff;
}
.footer-notfound{
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   margin-top:2rem;
    background: #3487d5;
    padding-top: 1rem;
    color: #f3f3f3;
}
.img-notfound{
    width:100%;
}
.title-notfound {
    font-size: 7.5em;
    margin: 15px 0px;
    font-weight:bold;
    color:#3487d5;
  }
.titleSecond-notfound{
    font-weight:bold;
    font-size:3.5rem;
  }

  @media (max-width: 768px){
    .title-notfound {
        font-size: 4.5em;
        margin: 15px 0px;
        font-weight:bold;
      }
    .titleSecond-notfound{
        font-weight:bold;
        font-size:2.5rem;
      }
  }