/*Begin style for Student Card */
.StudentCard
{
   background-color : #eee;
   height:auto;
    margin:20px;
    border-left: 10px solid transparent;
    border-radius: 24px 9px 8px 0px;
    -webkit-box-shadow: 3px 34px 31px -23px rgba(153,150,153,1);
    -moz-box-shadow: 3px 34px 31px -23px rgba(153,150,153,1);
    box-shadow: 3px 34px 31px -23px rgba(153,150,153,1);
    padding:35px;
    
}
h4{
    margin-top:10px;
    padding:20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.Icon
{
    width:30px;
    height:25px;
}
/*End of style for Student Card */